:root {
    --white: #F5F5F5;
    --black: #2A2A2A;
    --grey:  #B5B5B5;
    --dark-grey: #525252;
    --orange: #A46141;
    --blue: #51818B;

    /*Щрифт для h1*/
    --font-h1: Montserrat, sans-serif;
    --font-h1-weight: 900;
    --font-h1-size: 30px;
    --font-h1-style: italic;
    --font-h1-weight: 900;
    --font-h1-line-height: 1.4; /* 140% */
    --font-h1-letter-spacing: 0.5px;
    --font-h1-font-weight: bold;

    /* H2 */
    --font-h2-family: Montserrat;
    --font-h2-size: 30px;
    --font-h2-style: normal;
    --font-h2-weight: 700;
    --font-h2-line-height: 40px; /* 80% */
    --font-h2-letter-spacing: 0.5px;

    /*Шрифт для p*/
    --font-body:Roboto, sans-serif;
    --font-body-weight: 400;
    --font-body-size: 30px;
    --font-body-style: normal;
    --font-body-letter-spacing: 0.3px;
    --font-body-line-height: 1.3;

    /*Шрифт для Tab*/
    --font-tab: "Montserrat Alternates", serif;
    --font-tab-size: 15px;
    --font-tab-style: normal;
    --font-tab-weight: 500;
    --font-tab-line-height: 24px; /* 160% */
    --font-tab-letter-spacing: 0.15px;

}

/* Стилі для комп'ютерної версії */
.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}





html, body {
    height: 100%; /* Забезпечуємо висоту 100% для html та body */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--dark-grey);

}

body{
    margin-top: 67px;
}




*{
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 180px;

}

/* ===============Header===========*/
header{
    background-color: var(--black);
    height: 67px;
    position: fixed; /* Закріплюємо header */
    top: 0; /* Встановлюємо верхнє положення */
    left: 0; /* Встановлюємо ліве положення */
    width: 100%; /* Ширина на всю сторінку */
    z-index: 10; /* Задаємо висший пріоритет для header */
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {

}

nav a{
    text-decoration: none;
    margin-right: 25px;
    color: var(--white);
    font-family: var(--font-tab);
    font-optical-sizing: auto;
    font-weight: var(--font-tab-weight);
    font-size: var(--font-tab-size);
    letter-spacing: var(--font-tab-letter-spacing);
    style: var(--font-tab-style);
    line-height: var(--font-tab-line-height);

    transition: color .4s ease;
}



nav a:hover {
    color: var(--blue);
}


nav a.checked {
    color: var(--blue); /* Колір для активного лінка */
}


nav a:last-child{
    margin-right: 0;
}


/* ===============Main===========*/
/* ===============Title===========*/
.title-content{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    background-image: url('../images/background.png');
    background-size: cover; /* Масштабування фонового зображення */
    background-position: center; /* Центрування фонового зображення */
    background-repeat: no-repeat; /* Вимкнення повторення */


    width: 100%; /* Займає всю ширину екрана */
    min-height: 100vh; /* Висота на весь екран */
    margin: 0; /* Відсутність зовнішніх відступів */
}

.title{
    font-family: var(--font-h1);
    font-weight: var(--font-h1-weight);
    font-size: var(--font-h1-size);
    font-style: var(--font-h1-style);
    letter-spacing: var(--font-h1-letter-spacing);
    line-height: var(--font-h1-line-height);
    color: var(--white);

}

.button{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-more-btn{
    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    font-size: var(--font-body-size);
    font-style: var(--font-body-style);
    letter-spacing: var(--font-body-letter-spacing);
    line-height: var(--font-body-line-height);
    color: var(--white);

    padding: 22px 75px;
    background-color: var(--blue);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: flex;
    align-items: center;


}
.learn-more-btn .button-text {
    margin-right: 13px; /* Задаємо відступ між текстом і стрілкою */
}

.arrow{
    width: 27px;
    height: 38px;
    align-items: center;
}

.arrow svg path {
    fill: var(--white); /* Початковий колір стрілки */
}

.learn-more-btn:hover {
    background-color: var(--black);
    color: var(--blue);
}

.learn-more-btn:hover .arrow svg path {
    fill: var(--blue); /* Змінюємо колір стрілки */
}

/* ===============About us=========== */

.about-content{
    display: flex;
    align-items: center;


}

.title-p1{
    font-family: var(--font-h2-family);
    font-weight: var(--font-h2-weight);
    font-size: var(--font-h2-size);
    font-style: var(--font-h2-style);
    letter-spacing: var(--font-h2-letter-spacing);
    line-height: var(--font-h2-line-height);
    color: var(--white);

    white-space: nowrap;
    text-align: center;
    width: 241px;
    margin-right: 33px;
    margin-bottom: 270px;
}
.line{
    margin-top: 114px;
}
.about-text{
    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    font-size: var(--font-body-size);
    font-style: var(--font-body-style);
    letter-spacing: var(--font-body-letter-spacing);
    line-height: var(--font-body-line-height);
    color: var(--white);

    width: 525px;
    height: 400px;
    flex-shrink: 0;

    margin-left: 33px;
    margin-top: 157px;
    margin-bottom: 150px;
}

.about-photos{

    flex-direction: column;

}
.team1{
    width: 461px;
    height: 461px;
    flex-shrink: 0;

}

.team2{
    width: 450px;
    height: 450px;
    flex-shrink: 0;

}
/*===================Contact===================*/
.contact-content{
    display: flex;
    align-items: center;
    margin-bottom: 200px;


}

.title-p3{
    font-family: var(--font-h2-family);
    font-weight: var(--font-h2-weight);
    font-size: var(--font-h2-size);
    font-style: var(--font-h2-style);
    letter-spacing: var(--font-h2-letter-spacing);
    line-height: var(--font-h2-line-height);
    color: var(--white);

    white-space: nowrap;
    text-align: left;
    margin-right: 33px;
    margin-bottom: 270px;
}

.line{
    margin-top: 114px;
}

.form-container {
    flex: 2;
    padding-left: 20px;
    margin-top: 150px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 55px; /* Закруглені кути */
    background-color: var(--white);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

    color: var(--black);
    resize: none; /* Забороняє змінювати розмір textarea */
    outline: none;

    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    font-size: var(--font-body-size);
    font-style: var(--font-body-style);
    letter-spacing: var(--font-body-letter-spacing);
    line-height: var(--font-body-line-height);
}

textarea {
    border-radius: 55px;
    height: 274px;
}

/* Лічильник символів */
.char-count {
    position: absolute;
    bottom: 10px;
    right: 45px;
    font-size: 12px;
    color: var(--grey);
}

/* Кнопка */
.submit {
    padding: 15px;
    background-color: var(--orange);
    border: none;
    border-radius: 30px;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.submit:hover {
    background-color: #b47056;
}

.contact-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}




.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 55px;
    padding: 15px 45px;

    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    font-size: var(--font-body-size);
    font-style: var(--font-body-style);
    letter-spacing: var(--font-body-letter-spacing);
    line-height: var(--font-body-line-height);
}

.info-item .icon {
    width: 24px;
    height: 24px;
    fill: var(--orange);
}

/*==============Footer==============*/
.footer {
    margin-top: 148px;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.donate-btn {
    display: flex;
    width: 255px;
    height: 72px;
    padding: 16px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    border-radius: 15px;
    border: 1px solid var(--black);
    background: none;
    transition: background 0.3s, color 0.3s;

    margin-right: 533px;
}

.donate-btn:hover {
    background-color: var(--blue);

}

.footer-logo {
    text-align: center;
}

.footer-logo .logo {
    height: 40px;
    margin-bottom: 5px;
}
.footer-logo p {
    color: var(--black);

    font-family: var(--font-tab);
    font-optical-sizing: auto;
    font-weight: var(--font-tab-weight);
    font-size: var(--font-tab-size);
    letter-spacing: var(--font-tab-letter-spacing);
    style: var(--font-tab-style);
    line-height: var(--font-tab-line-height);

}

.donate-text{
    color: var(--black);

    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
    font-size: var(--font-body-size);
    font-style: var(--font-body-style);
    letter-spacing: var(--font-body-letter-spacing);
    line-height: var(--font-body-line-height);
}

.scroll-top {
    width: 62px; /* Встановлюємо чітку ширину */
    height: 62px; /* Встановлюємо чітку висоту */
    background: none; /* Без початкового фону */
    border: none; /* Забираємо зайву обводку */
    cursor: pointer;
    position: fixed; /* Закріплення кнопки */
    bottom: 20px; /* Відступ віднизу */
    right: 20px; /* Відступ справа */
    z-index: 1000; /* Визначення пріоритету відображення */
    border-radius: 50%; /* Робимо фон круглим */
    display: flex; /* Центруємо іконку всередині кнопки */
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Додаємо плавність */
}

.scroll-top:hover {
    background-color: var(--blue); /* Додаємо синій фон при наведенні */
    transform: scale(1.1); /* Легке збільшення при наведенні */
}

.scroll-top svg {
    pointer-events: none; /* Дозволяємо клікати на всю область кнопки */
}




/* Стилі для мобільних пристроїв */
@media (max-width: 768px) {
    :root {
        --white: #F5F5F5;
        --black: #2A2A2A;
        --grey:  #B5B5B5;
        --dark-grey: #525252;
        --orange: #A46141;
        --blue: #51818B;

        /*Щрифт для h1*/
        --font-h1: Montserrat, sans-serif;
        --font-h1-weight: 900;
        --font-h1-size: 22px;
        --font-h1-style: italic;
        --font-h1-line-height: 1.4; /* 140% */
        --font-h1-letter-spacing: 0.22px;
        --font-h1-font-weight: bold;

        /* H2 */
        --font-h2-family: Montserrat;
        --font-h2-size: 18px;
        --font-h2-style: normal;
        --font-h2-weight: 700;
        --font-h2-line-height: 40px; /* 80% */
        --font-h2-letter-spacing: 0.25px;

        /*Шрифт для p*/
        --font-body:Roboto, sans-serif;
        --font-body-weight: 400;
        --font-body-size: 15px;
        --font-body-style: normal;
        --font-body-letter-spacing: 0.15px;
        --font-body-line-height: 20px;

        --font-tab: "Montserrat Alternates", serif;
        --font-tab-size: 25px;
        --font-tab-style: normal;
        --font-tab-weight: 500;
        --font-tab-line-height: 24px; /* 160% */
        --font-tab-letter-spacing: 0.25px;

    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }


    html, body {
        height: auto; /* Для мобільних пристроїв зазвичай висота body не повинна бути 100% */
        margin: 0;
        padding: 0;
    }

    body {
        margin-top: 20px; /* Зменшуємо відступ для мобільних */
    }

    .container {
        max-width: 100%; /* Повна ширина для мобільних пристроїв */
        margin: 0 20px; /* Зменшуємо бокові відступи */


    }

    .title-content {
        background-size: cover; /* Масштабування фонового зображення */
        background-position: center; /* Центрування фонового зображення */

        height: 568px; /* Висота 568 пікселів для мобільної версії */
        padding: 0 20px; /* Додаємо відступи з боків для мобільних пристроїв */
    }


    .about-content{

        flex-direction: column;



    }

    .title-p1{
        font-family: var(--font-h2-family);
        font-weight: var(--font-h2-weight);
        font-size: var(--font-h2-size);
        font-style: var(--font-h2-style);
        letter-spacing: var(--font-h2-letter-spacing);
        line-height: var(--font-h2-line-height);
        color: var(--white);
        margin-bottom: 0;

    }

    .about1{
        display: flex;
        justify-content: center;    /* Вирівнюємо елементи по горизонталі (по центру) */
        align-items: center;
    }
    .about-text1 {
        font-family: var(--font-body);
        font-weight: var(--font-body-weight);
        font-size: var(--font-body-size);
        font-style: var(--font-body-style);
        letter-spacing: var(--font-body-letter-spacing);
        line-height: var(--font-body-line-height);
        color: var(--white);

        width: 154px;
        margin-right: 2px;

    }

    .team1{
        width: 138px;
        height: 138px;
        flex-shrink: 0;
    }
    .line1{
        margin-right: 6px;

    }


    .about2{
        display: flex;
        justify-content: center;    /* Вирівнюємо елементи по горизонталі (по центру) */
        align-items: center;
    }

    .team2{
        width: 122px;
        height: 122px;
        flex-shrink: 0;
        margin-right: 9px;
    }

    .about-text2 {
        font-family: var(--font-body);
        font-weight: var(--font-body-weight);
        font-size: var(--font-body-size);
        font-style: var(--font-body-style);
        letter-spacing: var(--font-body-letter-spacing);
        line-height: var(--font-body-line-height);
        color: var(--white);

        width: 154px;
        margin-right: 6px;
    }


    .contact-content {
        display: flex; /* Включаємо Flexbox */
        flex-direction: column; /* Вирівнюємо елементи вертикально */
        justify-content: center; /* Центруємо елементи по вертикалі */
        align-items: center; /* Центруємо елементи по горизонталі */

        margin-bottom: 0px;

        width: 100%; /* Забезпечує повну ширину контейнера */
    }

    .title-p3{
        margin-bottom: 0px;
    }



    .form-container {
        padding-left: 10px; /* Зменшення відступу */
        margin-top: 20px; /* Зменшення відступу зверху */
        width: 100%; /* Контейнер займає всю ширину */
    }

    form {
        gap: 15px; /* Зменшення розриву між елементами */
    }

    input, textarea {
        padding: 10px; /* Зменшення внутрішніх відступів */
        font-size: 14px; /* Менший розмір шрифту */
        border-radius: 20px; /* Зменшення округлення */
    }

    textarea {
        height: 200px; /* Зменшення висоти текстової області */
    }

    .char-count {
        bottom: 5px; /* Зменшення відступу знизу */
        right: 15px; /* Зменшення відступу праворуч */
        font-size: 10px; /* Зменшення розміру шрифту */
    }

    .submit {
        padding: 10px; /* Зменшення відступу */
        font-size: 16px; /* Менший розмір шрифту */
        border-radius: 20px; /* Зменшення округлення */
    }

    .title-p3 h2 {
        font-size: 24px; /* Менший заголовок */
        text-align: center; /* Вирівнювання по центру */
    }



    .contact-info {
        margin-top: 75px;
        flex-direction: column;
        align-items: center;
    }


    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Зменшуємо ширину кнопки Donate на мобільних */
    .donate-btn {
        width: 200px; /* Зменшуємо ширину */
        height: 60px; /* Зменшуємо висоту */
        margin-right: 0; /* Виправляємо відступ, щоб не було великого простору праворуч */
        margin-left: auto; /* Центруємо кнопку */
        margin-right: auto; /* Центруємо кнопку */
        margin-top: 20px;
    }

    /* Оновлюємо відступи для логотипу */
    .footer-logo {
        margin-top: 20px;
    }

    /* Відступи для кнопки скроллу */
    .scroll-top {
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
    }



    /* Початкові стилі для мобільного меню */
    .mobile-menu {
        position: fixed; /* Закріплення меню */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(42, 42, 42, 0.95); /* Чорний фон з прозорістю */
        display: flex;
        flex-direction: column;
        align-items: center;
         /* Центруємо елементи по вертикалі */
        z-index: 1000; /* Додатковий пріоритет для відображення */
        display: none; /* Початково приховане меню */
    }

    .mobile-menu {
        display: block; /* Переконайтесь, що меню активне */
        width: 100%;
    }
    .close-btn {
        position: absolute;
        top: 54px;
        left: 63px;
        cursor: pointer;
    }

    .logo-container {
        text-align: center;

        margin-top: 36px; /* Відступ від верхнього краю */
    }

    .nav{
        justify-content: center;
    }

    /* Стилі для навігаційних ліній */
    .nav-line {
        display: block; /* Для коректного відображення лінії */
        margin: 10px 0; /* Відступи між лінією і елементами списку */
        width: calc(100% - 84px); /* Ширина лінії на 84px менша за ширину екрана (по 42px з кожного боку) */
        height: 2px;
    }
    .mobile-menu nav ul {
        display: flex;
        flex-direction: column; /* Вертикальне вирівнювання */
        align-items: center;
        padding: 0;
    }

    .mobile-menu nav ul li {
        list-style: none;
        margin: 38px 0; /* Відступи між елементами меню */
    }

    .mobile-menu nav ul li a {
        color: var(--white); /* Колір тексту */
        font-family: var(--font-tab);
        font-size: var(--font-tab-size);
        font-style: var(--font-tab-style);
        font-weight: var(--font-tab-weight);
        line-height: var(--font-tab-line-height);
        letter-spacing: var(--font-tab-letter-spacing);

         /* Для стильного вигляду */
    }

    /* Лінії між елементами меню */
    .mobile-menu nav svg {
        width: calc(100% - 84px); /* Лінія займає ширину екрану за винятком 42px з кожного боку */
        height: 2px;
        margin: 10px 0;
    }

    .footer-logo p {
        color: var(--black);

        font-family: var(--font-tab);
        font-optical-sizing: auto;
        font-weight: var(--font-tab-weight);
        font-size: 12px;
        letter-spacing: var(--font-tab-letter-spacing);
        style: var(--font-tab-style);
        line-height: var(--font-tab-line-height);

    }


}
